[CoreOS]
localhost.localdomain ansible_host=127.0.0.1 ansible_connection=local ansible_user=root

[CoreOS-Node]
coreos1  ansible_host=127.0.0.1 ansible_connection=local
coreos2  ansible_host=127.0.0.1 ansible_connection=local
coreos3  ansible_host=127.0.0.1 ansible_connection=local

[CoreOS-Nodes:vars]
ssh_key="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA8KtKVcPt9ytYI9M6pE+C+emUkQXUhZYlvp0p8ne/GKBFbd2v7led6gdisuDVfKIvbK1sKCoOpHWncnpkQ/7j0Xoo22lBZkc9eUEt8pXCC9HHAfaNzB/dKu6W74KqqS1LSKij5bOCY+WZsSLYGXtNcXumBAzGvu9igBV2SBcTlusalDOmahTN2Fr71WRqxqUr+1LsPWIYzwQ9D9wVnOxdAPgHWe1azWDl4jEuEmp5DFWkARHwACsWBYHtx486Ts2IxJtcRzvloOgA/+x1kogC0WPuiLr6HT1B3vx3Ci3dXA71ljPOWuCnZ4KV7CqyZJg1f1D42KyLC40k5pRuLtUEyQ== briefkasten@olaf-radicke.de"
cluster_member=
image_dir="ls /var/lib/libvirt/images"
timezone=Europe/Berlin
nfs_share=192.168.122.155:/srv/nfs/mongodb
cluster_nodes="coreos1=http://192.168.122.150:2380,coreos2=http://192.168.122.69:2380,coreos3=http://192.168.122.99:2380"
